.container {
	display: grid;
}
body, html{
	background-color: #f6f6f6
}
#painting {
	height: 400px;
	width: 400px;
	background-color:#fff4db;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
#toprow{
	height: 290px;
	
}